
<!-- insert link to create donation associated with event -->
<a class ="text-center" href="/events" style="font-size:20px">I'd like my donation to be associated with an event I attended.</a>

<fieldset>
    <form method="POST" action="/donations">
        <div class="" style="padding-left: 350px; padding-right: 350px;">
        <legend>Donations</legend>
        <!-- use donations form partial for DRY code -->
        {{> donations-form}}
        </div>
    </form>
</fieldset>
