
<!-- Not currently used in app -->

<!-- <fieldset>
    <form method="POST" action="/events/{{event._id}}">
        <legend>Donations</legend>

        <input type="hidden" class="form-control" value="{{event._id}}" name="eventId">
        <! use donations form partial for DRY code -->
        <!-- {{> donations-form}}
    </form> -->
<!-- </fieldset> -->
