<form method="POST" action="/donations">
  <fieldset>
      <div class="" style="padding-left: 350px; padding-right: 350px;">
          <legend>New Donation</legend>
          <!-- charity name -->
            <div>
              <label for="charity">Charity Name</label><br>
              <input class="form-control" type="text" name="charity"/>
          </div>
          <!-- Event title -->
          <div>
            <label for="amount">Donation Amount</label><br>
            <input class="form-control" type="number" name="amount"/>
        </div>

        <!-- date -->
          <div>
            <label for="date">Donation Date</label><br>
            <input class="form-control" id="event-date" type="date" name="date"/>
        </div>
        <!-- notes -->
          <div>
            <label for="notes">Donation Notes</label><br>
            <textarea class="form-control" id="notes-text" name="notes" rows="10" placeholder="...any relevant details you may want to remember about this charity event."/></textarea>
        </div>
        <!-- BUTTONS -->
        <button class="btn btn-primary" type="submit">Save Event</button>
        <button class="btn btn-danger" type="cancel">Cancel</button>
      </div>
    </fieldset>
</form>
