
<div class="col-sm-6">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Charity</th>
                <th scope="col">Made donation?</th>
            </tr>
        </thead>

    </table>
</div>

<div class="col-sm-6">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Charity</th>
                <th scope="col">Amount Donated</th>
            </tr>
        </thead>

    </table>
</div>
